<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    </configSections>
    <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
        <assembly name="Converters"/>

        <namespace name="Converters"/>

        <alias alias="ObjectDictionary" type="System.Collections.Generic.IDictionary`2[[System.String, mscorlib], [System.Object, mscorlib]], mscorlib"/>

        <container>
            <register type="IObjectAccessor`1[ObjectDictionary]" mapTo="DictionaryAccessor[string, object]"></register>
            <register type="IObjectAccessor`1" mapTo="ClrObjectAccessor`1"></register>
            <register type="IObjectConverter`2" mapTo="ObjectConverter`2"></register>
        </container>
    </unity>
</configuration>
